doctype html
html
  head
    title Home
    link(rel='stylesheet' href='/css/style.css')
  body
    .header
      h1 Projects List
      a.create-new-project(href='/update-cobj') Create New Project
    if projects.length === 0
      p.placeholder No projects available. Please create a new project.
    else
      table
        thead
          tr
            th Project Name
            th Description
            th Project Members
            th Status
            th Actions
        tbody
          each item in projects
            tr
              td= item.project.properties.name
              td= item.project.properties.description
              td
                if item.contacts.length === 0
                   div No members added
                else
                  ul.project-members
                    each contact in item.contacts
                      li= contact.firstname + ' ' + contact.lastname
              td= item.project.properties.status
              td.action-icons
                a(href=`/add-contact/${item.project.id}`) Add member
                | &nbsp;|&nbsp;
                a(href=`/update-cobj/${item.project.id}`) Edit Project
                | &nbsp;|&nbsp;
                form.delete-form(action=`/delete-cobj/${item.project.id}` method='post' onsubmit='return confirmDelete()')
                  button(type='submit') Delete Project
    script.
      function confirmDelete() {
        return confirm('Are you sure you want to delete this project?');
      }
